@use "sass:map";

$margin-padding-default-value: 0;

$section-margin-left-right-value: 1%;
$section-height: 736px;
$section-width: 98%;
$text-section-color: #FFF;

$select-width: 100%;
$select-padding: 12px 20px;
$select-margin: 8px 0;
$select-border: 1px;
$select-border-radius: 4px;
$select-border-color: #CCC;

$input-width: 100%;
$input-padding: 12px 20px;
$input-margin: 8px 0;
$input-border-bottom: 2px;

$img-max-width: 100%;
$img-padding:  5px;
$img-width: 150px;

$volver-margin-left: 0px;
$volver-line-height: 28px;

$logo-width: 300px;
$logo-height: 300px;
$logo-margin-top: 150px;

$arrow-width: 32.5px;
$arrow-height: 32.5px;
$arrow-margin-left: 7px;

$splash-font-stack: 'Arizonia', cursive;
$splash-font-size: 70px;
$splash-text-color: #000;


$colors: (
    xiketic: #03071E,
    dark_sienna: #370617,
    rosewood: #6A040F,
    dark_red: #9D0208,
    rosso_corsa: #D00000,
    vermilion: #DC2F02,
    persimmon: #E85D04,
    carrot_orange: #F48C06,
    orange_web: #FAA307,
    selective_yellow: #FFBA08,
    background: linear-gradient(#DC2F02, #E85D04, #F48C06),
);


body,
html{
    margin: $margin-padding-default-value;
    padding: $margin-padding-default-value;
    overflow-x: hidden;
}

section{
    height: $section-height;
    width: $section-width;
    border-style: solid;
    background-image: map.get($colors,"background");
    color: $text-section-color;
    margin-left: $section-margin-left-right-value;
    margin-right: $section-margin-left-right-value;
    overflow-x: hidden;
    
}

select{
    width: $select-width;
    padding: $select-padding;
    margin: $select-margin;
    display: inline-block;
    border: $select-border solid $select-border-color;
    border-radius: $select-border-radius;
    box-sizing: border-box;
}

input[type=text] input[type=password]{
    width: $input-width;
    padding: $input-padding;
    margin: $input-margin;
    box-sizing: border-box;
    border: $input-border-bottom solid map.get($colors,"rosewood");

    [type=submit]{
        &:hover{
            color: map.get($colors,"carrot_orange");
        }
    }

}

img{
    display: block;
    max-width: $img-max-width;
    height: auto;
    padding: $img-padding;
    width: $img-width;

}

h4 {
    color: map.get($colors,"dark_sienna");
}

label{
    color: map.get($colors,"dark_sienna");

} 

a{
    color: map.get($colors,"dark_sienna");
    text-decoration: none;
}

.ocultar{
    display: none;
}

.volver{
    margin-left: $volver-margin-left;
    line-height: $volver-line-height;
}

.btn-default{
    background-color: map.get($colors,"xiketic");
    color: $text-section-color;
}

.btn-optional{
    background-color: map.get($colors,"carrot_orange");
    color: $text-section-color;
}

.logo{
    width: $logo-width;
    height: $logo-height;
    margin-left: auto;
    margin-right: auto;
    margin-top: $logo-margin-top;
}

.arrow{
    width: $arrow-width;
    height: $arrow-height;
    margin-left: $arrow-margin-left;
}

.text_splash{
    font-family: $splash-font-stack;
    font-size: $splash-font-size;
    color: $splash-text-color;
}