{% extends "layout.html" %} {% block title %} Platos {% endblock %} {% block content %}
<section id="lista_restaurantes" class="overflow-auto ocultar">
    <h2 class="px-4 my-4">Lista Platos</h2>

    {% for dish in dishes %}
    <div class="container">
        <div class="row">
            <div class="col border-top pt-3">
                <h4 class="px-2">{{dish.name}}</h4>
                <p class="px-2 my-auto">
                    {{dish.description}}
                </p>

                <form method="POST" action="{{ url_for('dishes_update', restaurant_id = restaurant_id, dish_id = formUpdate[loop.index - 1].dish_id)  }}">
                    {{ formUpdate[loop.index - 1].hidden_tag() }}
                    <div class="container border-top pt-3 ocultar">
                        <div class="row my-4 mx-auto w-75">
                            {{ formUpdate[loop.index - 1].name.label(class="formUpdate[loop.index - 1]-control-label") }} {% if formUpdate[loop.index - 1].name.errors %} {{formUpdate[loop.index - 1].name(class="formUpdate[loop.index - 1]-control formUpdate[loop.index - 1]-control-lg
                            is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in formCreate.name.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ formUpdate[loop.index - 1].name(class="formUpdate[loop.index - 1]-control formUpdate[loop.index - 1]-control-lg") }} {% endif %}
                        </div>

                        <div class="row my-4 mx-auto w-75">
                            {{ formUpdate[loop.index - 1].description.label(class="formUpdate[loop.index - 1]-control-label") }} {% if formUpdate[loop.index - 1].description.errors %} {{formUpdate[loop.index - 1].description(class="formUpdate[loop.index - 1]-control formUpdate[loop.index-
                            1]-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in formCreate.description.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ formUpdate[loop.index - 1].description(class="formUpdate[loop.index - 1]-control formUpdate[loop.index - 1]-control-lg") }} {% endif %}
                        </div>
                        {{ formUpdate[loop.index - 1].submitUpdate(class="btn btn-outline-dark my-2") }}

                    </div>
                </form>
            </div>
            <a id="btn_restaurante" href="javascript:void(0);">
                <div class="col">
                    <p>
                        {%if dish.image_url %}
                        <img src={{dish.image_url}} class="rounded mx-auto d-block" alt=""> {% else %}
                        <img src="https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80" class="rounded mx-auto d-block" alt=""> {% endif %}
                    </p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}

    <form method="POST" action="">
        {{ formCreate.hidden_tag() }}

        <div class="formCreate-group row my-4 admin_mode">
            <div id="btn_turn_agregar_plato" class="col-10 mx-auto">
                <a href=" javascript:void(0);" class="btn btn-default w-100">Agregar Plato</a>
            </div>
        </div>

        <div id="agregar_plato_container" class="container border-top pt-3 ocultar">
            <div class="row my-4 mx-auto w-75">
                {{ formCreate.name.label(class="formCreate-control-label") }} {% if formCreate.name.errors %} {{formCreate.name(class="formCreate-control formCreate-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in formCreate.name.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ formCreate.name(class="formCreate-control formCreate-control-lg") }} {% endif %}
            </div>

            <div class="row my-4 mx-auto w-75">
                {{ formCreate.description.label(class="formCreate-control-label") }} {% if formCreate.description.errors %} {{formCreate.description(class="formCreate-control formCreate-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in formCreate.description.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ formCreate.description(class="formCreate-control formCreate-control-lg") }} {% endif %}
            </div>
            {{ formCreate.submitCreate(class="btn btn-outline-dark my-2") }}

        </div>
    </form>
</section>
{% endblock content %}