{% extends "layout.html" %} {% block title %} Platos  {% endblock %} {% block content %}
<section id="lista_restaurantes" class="overflow-auto ocultar">
    <h2 class="px-4 my-4">Lista Platos</h2>

    {% for dish in dishes %}
    <div class="container">
        <div class="row">
            <div class="col border-top pt-3">
                <h4 class="px-2">{{dish.name}}</h4>
                <p class="px-2 my-auto">
                    {{dish.description}}
                </p>
            </div>
            <div class="col">
                <p>
                    <a id="btn_restaurante" href="javascript:void(0);">
                        {%if dish.image_url %}
                        <img src={{dish.image_url}} class="rounded mx-auto d-block" alt="">
                        {% else %}
                        <img src="https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80" 
                        class="rounded mx-auto d-block" alt="">
                        {% endif %}
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="form-group row my-4 admin_mode">
        <div id="btn_turn_agregar_plato" class="col-10 mx-auto">
            <a href=" javascript:void(0);" class="btn btn-default w-100">Agregar Plato</a>
        </div>
    </div>

    <div id="agregar_plato_container" class="container border-top pt-3 ocultar">
        <div class="row my-4 mx-auto w-75">
            <input class="form-control mx-auto" type="text" id="input_agregar_plato_name" placeholder="Nombre del Plato">
        </div>

        <div class="row my-4 mx-auto w-75">
            <input class="form-control mx-auto" type="text" id="input_agregar_plato_desc" placeholder="Descripción del Plato">
        </div>

        <div id="btn_confirmar_agregar_plato" class="col-10 mx-auto">
            <a href=" javascript:void(0);" class="btn btn-default w-100">Confirmar</a>
        </div>
    </div>
</section>
{% endblock content %}